:root {
  --orchid-color: #7e3680;
  --cream-color: #efe1e8;
  --indigo-color: #420264;
  --violet-color: #a654df;
  --deep-color: #3c1a3d;
}

* {
  margin: 0px;
  box-sizing: border-box;
  background-color: var(--cream-color);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: var(--indigo-color);
  padding: 0px;
}

/* Header section */

header {
  display: flex;
  background-color: var(--deep-color);
  flex-wrap: nowrap;
  justify-content: space-between;
  background-size: cover;
}

header h1 {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--orchid-color);
  font-size: 55px;
  flex-basis: 29%;
}
header nav {
  display: flex;
  padding: 10px;
  background-color: var(--deep-color);
  justify-content: flex-end;
  display: flex;
  margin-left: 250px;
  flex-basis: 71%;
  margin: 0px;
}
header nav ul {
  margin: 0px;
  list-style-type: none;
  display: flex;
  background-color: var(--orchid-color);
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

header nav ul li {
  display: flex;
  background-color: var(--orchid-color);
  margin: 0px;
}

header nav ul li a {
  margin: 0px;
  background-color: var(--deep-color);
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  color: var(--orchid-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*Header photo*/

div section {
  height: 100px;
  background-image: url(../images/header.jpeg);
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
  flex-basis: 100%;
}
div section h1 {
  background-color: var(--orchid-color);
  align-self: flex-end;
}

/*  about me  section */
.aboutMe {
  margin: 30px auto 5px;
  display: flex;
  flex-wrap: nowrap;
  height: 400px;
}

.aboutMe h1 {
  font: 75px;
  flex-basis: 90%;
}

.aboutMe div p {
  font-size: 24px;
}

/*  experience  section*/
.experience {
  display: flex;
  flex-direction: column;
  height: 1000px;
}

.experience h1 {
  font-size: larger;
  flex-basis: 40%;
}
.projects {
  flex-basis: 60%;
}
.project0 {
  height: 500px;
  background-image: url(../images/Meal\ Express.png);
  background-size: cover;
}
.project1 {
  margin: 5px;
  background-image: url(../images/project0.png);
  background-size: cover;
}
.project1 div {
  display: flex;
}
.topBox {
  display: flex;
  height: 250px;
  margin: 5px;
}
.bottomBox {
  display: flex;
  height: 250px;
  margin: 5px;
  background-size: auto 100%;
}
.project2,
.project3,
.project4,
.project5 {
  padding: 0px;
  display: flex;
  margin: 5px;
  flex-basis: 50%;
}

.project2 {
  margin: 10px;
  background-image: url(../images/project1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.project3 {
  margin: 10px;
  background-image: url(../images/project2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.project4 {
  margin: 10px;
  background-image: url(../images/project3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.project5 {
  margin: 10px;
  background-image: url(../images/project4.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.project1:hover {
  opacity: 50%;
}
.project1:hover {
  opacity: 50%;
}
.project2:hover {
  opacity: 50%;
}
.project3:hover {
  opacity: 50%;
}
.project4:hover {
  opacity: 50%;
}
.project5:hover {
  opacity: 50%;
}
/*  contact  section */

footer {
  display: flex;
  flex-wrap: wrap;
}
footer h2 {
  margin-right: 10px;
  padding: 5px 15px 5px 0px;
}
footer address {
  display: flex;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-end;
}
footer address a {
  padding: 10px;
  font-size: 20px;
  font-style: normal;
  margin: 5px;
  display: inline-block;
}
