:root{
    --orchid-color: #7e3680;
    --cream-color: #efe1e8;
    --indigo-color: #420264;
    --violet-color: #a654df;

}

* {
   margin: 10px;
   padding: 10px;
   box-sizing: border-box;
   background-color: var(--cream-color) var(--cream-color);
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: var(--indigo-color);
}

body{
}

/* Header section */

header{
    display: flex;
    border: 2px solid red;
}
   

header h1  {
    font-size: 60px;
    font-family: cursive;
    border: 2px solid   blue;
}
header nav {
align-items: flex-end;
   display: flex ;
 border: 2px solid green;
margin-left: 250px;
}
header nav ul {
    border: 2px solid yellow;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between
    list-style: none;
   }


   /*  about me  section */

.aboutMe {
    border: 2px solid purple;

}
/*  experience  section*/
.experience {
    border: 2px solid black;
}
/*  skills  section */
.skills {
    border: 2px solid brown ;
}
/*  contact  section */
.contact {
    border: 2px solid orange;
}